<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 配置 -->
<!-- 需要注意的是：MyBatis 配置项的顺序不能颠倒 -->
<configuration>

    <!-- 测试github -->
    <!-- 属性 -->
    <properties resource="jdbc-host.properties">

    </properties>

    <!-- 设置 -->
    <!--    <settings>-->
    <!--        <setting name="1" value="1"/>-->
    <!--    </settings>-->

    <!-- 类型别名 -->
    <typeAliases>
        <package name="MyBatis"></package>
        <!--        <typeAlias alias="role" type="MyBatis.entity.Role"/>-->
        <!--        <typeAlias alias="user" type="MyBatis.entity.User"/>-->
    </typeAliases>

    <!-- 类型处理器 -->
    <!--    <typeHandlers></typeHandlers>-->

    <!-- 对象工厂 -->
    <!--    <objectFactory type="1"></objectFactory>-->

    <!-- 配置环境 -->
    <environments default="development">
        <environment id="development">      <!-- 环境变量 -->
            <transactionManager type="JDBC"/>       <!-- 事务管理器 -->
            <dataSource type="POOLED">              <!-- 数据源 -->
                <property name="driver" value="${database.driver}"/>
                <property name="url" value="${database.url}"/>
                <property name="username" value="${database.username}"/>
                <property name="password" value="${database.password}"/>
                <!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
                <!--                <property name="url" value="jdbc:mysql://10.5.96.32:3306/ssm"/>-->
                <!--                <property name="username" value="root"/>-->
                <!--                <property name="password" value="Mysql@0000"/>-->
                <!--                <property name="url" value="jdbc:mysql://localhost:3306/ssm"/>-->
                <!--                <property name="username" value="root"/>-->
                <!--                <property name="password" value="root"/>-->
            </dataSource>
        </environment>
    </environments>

    <!-- 数据库厂商标识 -->
    <databaseIdProvider type="DB_VENDOR">
        <property name="MySQL" value="mysql"></property>
        <!--        <property name="Oracle" value="oracle"></property>-->

    </databaseIdProvider>

    <!-- 映射器 -->
    <mappers>
        <!-- 如果要通过package配置，需要将接口文件与xml文件放在同一个路径下 -->
        <package name="MyBatis.mapper"/>
        <!--        <mapper resource="MyBatis/mapper/xml/RoleMapper.xml"/>-->
        <!--        <mapper resource="MyBatis/mapper/xml/UserMapper.xml"/>-->
    </mappers>
</configuration>